/* common */
#main h2 {
  font-size: 24px;
  margin-top: 30px;
  font-size: 24px;
}
.container {
  width: 600px;
  margin: 0 auto;
}

/* header */
#header {
  padding: 40px 0;
  background-color: #f1f5ff;
}

#header h1 {
  font-size: 48px;
  font-weight: bold;
}
#header h1 img {
  width: 38px;
  height: 30px;
  margin-right: 15px;
}

/* todo-box */
.todo-box {
  display: flex;
  flex-direction: column;
}

.todo-box > form {
  text-align: center;
  margin: 30px 0;
}
.todo-box > form input {
  padding: 10px 0;
  width: 520px;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-right: 10px;
  outline: none;
  font-size: 24px;
}
.todo-box > form button {
  padding: 7px 10px;
  font-size: 24px;
}
.todo-box > .todo-cont > div {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  min-height: 130px;
  background-color: #f1f5ff;
  border-radius: 30px;
}

.todo-box > div ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minMax(230px, 1fr));
  gap: 30px;
  padding: 30px;
  border-radius: 30px;
}

.todo-box > div ul li {
  padding: 30px;
  background-color: white;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  border-radius: 15px;
  line-height: 1.5em;
}
.todo-box > div ul li > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-box > div ul li > div span {
  font-size: 13px;
}
.btn-box {
  display: flex;
  gap: 10px;
}
.btn-box button {
  border: none;
  padding: 7px 10px;
  border-radius: 7px;
  cursor: pointer;
}
.btn-box button:first-child {
  background-color: #ffeaea;
  color: #ec3b3b;
}
.btn-box button:last-child {
  background-color: #2565ff;
  color: #fff;
}
