progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 100%;
}

progress[value]::-webkit-progress-bar {
  overflow: hidden;
  height: 10px;
  border-radius: 10px;
  background-color: #e1f3ff;
}
progress[value]::-webkit-progress-value {
  overflow: hidden;
  height: 10px;
  border-radius: 10px;
  background-color: #0089f1;
}
