progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 100%;
  margin-top: 30px;
}

progress[value]::-webkit-progress-bar {
  overflow: hidden;
  height: 10px;
  border-radius: 10px;
  background-color: #f1f5ff;
}
progress[value]::-webkit-progress-value {
  overflow: hidden;
  height: 10px;
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    rgba(38, 145, 222, 1) 0%,
    rgba(8, 62, 199, 1) 53%,
    rgba(184, 95, 250, 1) 100%
  );
}
